.comments-area {
	margin-top: 1.5rem;
	box-shadow: 0 0 20px rgba(0,0,0,.03);
	background: #fff;
	padding: 20px;
	border-radius: 5px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

ol.wp-block-latest-comments{
	padding: 0;
}

#respond { }
#reply-title { }
#cancel-comment-reply-link { }
#commentform { }
#author { }
#email { }
#url { }
#comment{}
#submit{}
.comment-notes { }
.required { }
.comment-form-author { }
.comment-form-email { }
.comment-form-url { }
.comment-form-comment { }
.comment-form-cookies-consent { }
.form-allowed-tags { }
.form-submit{}



