:root{
    // Font Size
    --prothom-fs-h1-size: 1.802rem;  /* 50/16 */
    --prothom-fs-h2-size: 1.602rem;  /* 40/16 */
    --prothom-fs-h3-size: 1.424rem;  /* 36/16 */
    --prothom-fs-h4-size: 1.266rem;  /* 28/16 */
    --prothom-fs-h5-size: 1.125rem; /* 20/16 */
    --prothom-fs-h6-size: 1rem;  /* 18/16 */

    // Font-Weight
    --prothom-fw-400: 400;
    --prothom-fw-500: 500;
    --prothom-fw-600: 600;
    --prothom-fw-700: 700;

}