.widget {
	margin: 0 0 1.5em;
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,.03);
	padding: 20px;
	border-radius: 5px;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.main-sidebar {
	padding: 0 0 0 20px;
}

.wp-block-search__button{
	border: 0;
}
